<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x.rokhdelar.xsshtool" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SW8900Activity"
            android:label="@string/title_activity_sw8900"
            android:icon="@mipmap/ic_sw8905"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.x.rokhdelar.xsshtool.MainActivity" />
        </activity>
        <activity
            android:name=".SelectDeviceActivity"
            android:label="@string/title_activity_select_device"
            android:theme="@android:style/Theme.Holo.Dialog.MinWidth" >
        </activity>
        <activity
            android:name=".SelectInterfaceActivity"
            android:theme="@android:style/Theme.Holo.Dialog.MinWidth"
            android:label="@string/title_activity_select_interface" >
        </activity>
    </application>

</manifest>
